.container{
    /* margin: 5px; */
}
.custom1{
    margin: 10px;
    background-color: white;
    border: black;
}
.shirt{
    height: 600px;
    width: auto;
    margin-top: 25px;
    
}
.shirtsection{
     height: auto;
      width: auto;
      margin-top: 25px;
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 25px;  
}

/* Shopping Cart */
  

th: 600px;
    position: fixed;
      left:0;
    display: flex;
    justify-items: center;    
    bottom:0;
    height: 50px;
    /* width:25%; */
    kground-co: rgb(158, 206, 245);
    margin-top: 25px;
    border-radius: 15px;
}

  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(148, 148, 148);
  }
  
  /* tr:hover {background-color: rgb(182, 185, 189);}
} */
/* Shopping Cart END */


/* Footer */
.footer{
    position: fixed;
    left:0;
    bottom:0;
    height: 50px;
    width:100%;
    background-color: #0d6efd;
    text-align: center;
    color:black;
    
}
/* Footer END */


/* Tshirt text */

.tshirtcontainer{
    position: relative;
    text-align: center;
    color: white;
}
.tshirtcentered {
    position: absolute;
    color: black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .colorshirtcont{
      padding-top: 20px;
    height: 150px;
    width: auto;
    
  }
  .colorshirt{
      
      width: 200px; 
  }

.altImages{
    width: auto;
    height: auto;
    background-color: white;
}
.tshirtcontainer{
    background-color: rgb(223, 223, 223);
}
  /* .slidecontainer {
